/*----- Document -----*/

*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body{
	padding: 30px 0;
	font: .8125em/1 eurostile, geneva, verdana, arial, sans-serif;
	color: #fff;
	background :url("../img/bg_overlay.png");
	background-repeat:no-repeat;
	background-size:cover;
}


#wrapper {
width:800px;
margin: 0 auto;
overflow:auto;
}

/*----- head -----*/

#wrapper header h1{
width:244px;
float:left;
background-image:url("../img/bg_logo.png");
	background-repeat:no-repeat;
}

#header h1{
		text-indent:-9000px;
}


 #header > h2{
float:right;
}


/*----- nav -----*/

#wrapper {
	background-image:url("../img/bg_logo.png");
	background-repeat:no-repeat;
}

#nav ul{
		width:244px;
	margin-top:55px;
margin-left:25px;
	}
/* ---------------- Nav Styles -------------- */
ul{
background-image: url(../img/bg_nav.png);
 		background-repeat: no-repeat;
 		background-position: 0 488px;
	list-style-type:none;
	padding-left: 0;
	overflow: hidden;
}

 	 ul li{
	float: left;
	width: 100px;
}

	ul a{
		list-style-type: none;
	display: block;
	height: 100px;
}

	ul a:hover{
	background-position: 62px 0;
}

#process a{
	background-position: 0 122px;	
}

#process a:hover{
	background-position:  62px 0;	
}

#process a:active{
	background-position: -100px -200px;	
}

#function a{
	background-position:  0 -244px;	
}

#function a:hover{
	background-position: 62px -244px;	
}

#function a:active{
	background-position: -200px -200px;	
	
}

#future a{
	background-position: -300px 0;	
}

#future a:hover{
	background-position: -300px -100px;	
}

#future a:active{
	background-position: -300px -200px;	
}

#engage a{
	background-position: -400px 0;	
}

#engage a:hover{
	background-position: -400px -100px;	
}

#engage a:active{
	background-position: -400px -200px;	
}

/*----- body -----*/

#content{
float:right;
width:480px;
padding-bottom:55px;
}

#content h3{
color:#C5FA87;
font-size:1.1em;
}

#content h4{
color:#8AE6E4;
font-size:1.4em;
}

#content ul li{
color:#CCFF9F;
font-size:1.1em;
padding-left:28px;
}
#content ul{
padding-bottom:15px;
}

#content p{
padding-bottom:15px;
}

strong{
color:#ADEA50;
}

em{
color:7489FF;
font-weight:normal;
}
/*----- footer -----*/

#footer{
padding-top:55px;
color: #8ae6e4;
text-align:center;
}

